<div class="row">
    <div class="col-sm-12 col-12" style="margin-bottom: 20px;"> 
      <div class="card">
          <div class="card-body">

            <div (click)="activityCollapse = !activityCollapse" [attr.aria-expanded]="!activityCollapse" aria-controls="activityDiv" style="cursor: pointer;">
              <i class="plus icon d-inline-block f-16"></i> <span class="h5 d-inline-block m-0">  Add Activity </span>
          </div>  <!-- End Title Div -->


            <div class="divider"></div>
            <div id="activityDiv" [ngbCollapse]="activityCollapse" style="margin-top: 20px;">
      
                    <div *ngIf="notification" class="alert alert-warning">
                        {{ notification }}
                    </div> <!-- End Alert -->
      
      
                          
                  <div class="form-group">
                    <div class="input-group">

                      <input type="hidden" 
                            ngbDatepicker #activityDate="ngbDatepicker" [(ngModel)]="activity.date">

                    <input class="form-control" 
                            ngbDatepicker #activityDate="ngbDatepicker" (click)="activityDate.toggle()" [value]="activity.date.year + '-' + activity.date.month + '-' + activity.date.day | date: 'dd, MMM y'" readonly>

                      <div class="input-group-append">
                        <button class="btn btn-outline-secondary disabled calendar" (click)="activityDate.toggle()" style="padding: 0 5px;"><span class="calendar-icon"></span>
                          </button>
                      </div>
                    </div> <!-- End input group -->
                  </div> <!-- End form group -->
  
  
      
              <div class="form-group">
               
                 <div class="input-group">

                        <input type="text" (keydown.enter)="listActivity(listObject.value)" class="form-control" placeholder="Add Activity and press Enter" [(ngModel)]="activity.list" name="activity.list" #listObject>

                      <div class="input-group-append">
                          <button class="btn btn-sm btn-outline-secondary" (click)="listActivity(listObject.value)">
                             <i class="plus icon"></i>
                          </button>
                      </div>  <!-- End -->
                </div> <!-- End input group -->
                <div class="d-block mt-3">
                      <pre class="eventList">{{ event | json }}</pre>
                </div> <!-- End block -->


               
             </div> <!-- End form-group-->
      
              <div class="form-group mb-0">
                <button class="btn btn-sm btn-success" (click)="addActivity(activity)">Add Activity</button>
              </div>  <!-- End form-group-->
            </div> <!-- End  Deposit Block -->
        </div> <!-- End card body -->
        </div> <!-- End card  -->
      </div> <!-- End col 6 -->
</div> <!-- End row -->

<div *ngIf="activityList" class="row mb-4">
  <div *ngFor="let object of activityList | paginate: { itemsPerPage: 4, currentPage: p }; let i = index;" class="col-sm-3 col-12">
    <div class="card">
      <div class="card-body">
          <div class="d-flex justify-content-between">
             <div>
               Date: {{ object.AD_toDateString }}
             </div>  <!-- End Date -->
             <span class="remove-span" data-tooltip="Remove Activity" data-position="top center" data-variation="mini">
                 <i class="window close outline icon cp" (click)="removeObject(object._id)"></i> 
              </span>  <!-- End UI Button -->

          </div> <!-- End d-flex -->
            
          <div class="ui celled list">
            <div class="item" *ngFor="let o of object.activity_list" class="item">
              <div class="content">
                  {{ o }}
              </div>  <!-- End content -->
            </div>   <!-- End item --> 
          </div>   <!-- End UI Celled List -->

      </div> <!-- End card body -->
    </div>  <!-- End card  -->
  </div> <!-- End col 12 -->
</div>  <!-- End row -->

<div class="row">
  <div class="col-12">
    <div class="card">
        <div class="card-body">
              <div class="d-flex justify-content-end">
                  <pagination-controls (pageChange)="p = $event"></pagination-controls>
              </div>    <!-- End d -flex -->              
        </div>  <!-- End card body -->
    </div>  <!-- Enc card -->
  </div>  <!-- End col 12 -->
</div>  <!-- End row -->
