<div style="margin-top: 100px;">
    <div class="d-flex justify-content-center">
              <div class="card login-div">
                   <div class="card-body">
                          <span class="h5 my-2 d-block">Signin</span>
                          <form>
                          
                              <div class="form-group">
                              <input type="text" class="form-control" placeholder="Email Address" #email>
                              </div> <!-- End -->
                      
                      
                              <div class="form-group">
                              <input type="password" class="form-control" placeholder="Password" #password>
                              </div> <!-- End -->


                              <div class="d-flex justify-content-between">
                              <div class="align-self-start">
                                  <button type="submit" class="btn btn-sm btn-success" (click)="doDogin(email.value, password.value)">Signin</button>
                              </div>  <!-- End -->

                              
                              </div> <!-- End div -->
                          </form>

                          <div *ngIf="notification" class="mt-4">
                            <div class="alert alert-warning">
                                  <span>{{ notification }}</span>
                            </div> <!-- End alert -->
                          </div> <!-- End notification-->
                   </div>   <!-- End card body -->
                  </div>   <!-- End card -->
  </div>  <!-- End flex -->
</div> <!-- End div -->